html,
body {
  height: 100%;
}
.container {
  margin-top: 15%;
  text-align: center;
}
#container{
}
#logo {
  margin-left: 100px;
  margin-top: 50px;
}
h1 {
  color: #ffbf00;
}
#login {
  position: relative;
  margin-left: 89%;
  margin-top: 1%;
}
.bg {
  /* The image used */
  background-image: url("bg.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}