.iconButton {
  background-color: initial;
  transition: 0.2s;
}
.iconButton * {
  color: white;
  transition: 0.2s;
}

.iconButton:hover {
  background-color: #0f1319;
  transition: 0.2s;
}

.iconButton:hover * {
  color: orange;
  transition: 0.2s;
}
